.card-container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 20px;
  padding: 20px;
}

div.card {
  display: grid;
  box-shadow: 1px 1px 4px rgb(177, 177, 177);
  padding: 10px;
  border-radius: 3px;
}

div.card > .product-image {
  max-width: 100%;
  height: auto;
  border-radius: 3px;
}

div.card > .product-image-loading {
  max-width: 220px;
  height: 180px;
  border-radius: 3px;
}

div.card > div.product-details {
  margin: 10px 0;
}

div.card > div.product-details > .source {
  font-size: 3.5mm;
}

div.card > div.product-action {
  float: right;
  align-self: flex-end;
  justify-self: flex-end;
}

@media screen and (max-width: 1050px) {
  .card-container {
    grid-template-columns: repeat(5, 1fr);
  }
}

@media screen and (max-width: 780px) {
  .card-container {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (max-width: 540px) {
  .card-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 414px) {
  .card-container {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 280px) {
  .card-container {
    grid-template-columns: 1fr;
  }
}
