@use "variables";

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: variables.$primary_color;
}
header > h1 {
  margin-left: 20px;
  cursor: pointer;
}

nav.navigation > ul {
  list-style: none;
  padding: 0 20px;
}

nav.navigation > ul > li {
  cursor: pointer;
}

li.cart-navigation {
  display: inline;
}

li.cart-navigation > span.badge {
  position: absolute;
  margin-left: 2px;
  background-color: rgb(255, 247, 0);
  border-radius: 50%;
  width: 15px;
  height: 15px;
  text-align: center;
  color: var(--text);
  font-size: 10px;
}

.brandname {
  color: var(--text);
  text-decoration: none;
}
